.container {
	  display: inline;
  padding: 0.3em;
  border-collapse: separate;
  -webkit-border-image: none;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  bottom: auto;
  background-color: white;
  background-color: -moz-field;
  border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;
  font: -moz-field;
  font: -webkit-small-control;
  box-sizing: border-box;
  border-radius: 3px;
}
.container.error {
	webkit-box-shadow: 0 0 6px #ac8786;
  -moz-box-shadow: 0 0 6px #ac8786;
  box-shadow: 0 0 6px #ac8786;
  border: 1px #740f1a solid;
}

.container input {
  border: none;
  font-size: 100%;
  background: none;
  color: #000;
  display: inline-block;
}

#person_date_of_birth {
  width: 500px;
}